@model ML.Alumno
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h5>Asignar Beca:</h5>
    </div>
</div>
</hr>
<br />
<br />

@using (Html.BeginForm("Form", "BecaAlumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
       
        <div class="col-md-3" style="display: none;">
            @Html.LabelFor(model => model.Nombre) @Html.LabelFor(model => model.ApellidoPat) @Html.LabelFor(model => model.ApellidoMat)
        </div>

        <div class="col-md-3" style="display: none;">
            @Html.LabelFor(model => model.ApellidoPat)
        </div>
        


        <div class="col-md-3">
            @Html.LabelFor(model => model.Beca.BecaList)
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-pc-display" style="color: midnightblue"></i></span>
                @Html.DropDownListFor(model => model.Beca.IdBeca, new SelectList(Model.Beca.BecaList, "IdBeca", "NombreBeca"), "Selecciona una Beca", new { @class = "form-control", @id = "ddlBeca" })
                @Html.ValidationMessageFor(model => model.Beca.IdBeca)
            </div>

        </div>
       
        </div>    
    <div class="form-group">
        <div class="col-md-3">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Regresar", "GetAll", "BecaAlumno", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
}
