@model ML.Alumno
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h5>Asignar Beca:</h5>
    </div>
</div>
</hr>
<br />
<br />

@using (Html.BeginForm("Form", "BecaAlumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3" style="display: none;">
            @Html.TextBoxFor(model => model.IdAlumno, new { @class = "hidden form-control", autocomplete = "off" })
        </div>
        
        <div class="col-md-3" style="display: none;">
            @Html.TextBoxFor(model => model.Nombre, new { @class = "hidden form-control", autocomplete = "off" })
        </div>

        <div class="col-md-3" style="display: none;">
            @Html.TextBoxFor(model => model.ApellidoPat, new { @class = "hidden form-control", autocomplete = "off" })
        </div>

        <div class="col-md-3" style="display: none;">
            @Html.TextBoxFor(model => model.ApellidoMat, new { @class = "hidden form-control", autocomplete = "off" })
        </div>

        <div class="col-md-3" style="display: none;">
            @Html.TextBoxFor(model => model.Sexo, new { @class = "hidden form-control", autocomplete = "off" })
        </div>
        
        <div class="col-md-3">

            @Html.LabelFor(model=> model.Fotografia)
            @if (Model.Fotografia != null)
            {
                <img id="Img" src="data:image/*;base64,@Model.Fotografia" style="width:100% ; height:auto" />
            }
            else
            {
                <img id="Img" src="~/image/sinfoto.jpg" style="width:100% ; height:auto" />
            }
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.Beca.BecaList)
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-pc-display" style="color: midnightblue"></i></span>
                @Html.DropDownListFor(model => model.Beca.IdBeca, new SelectList(Model.Beca.BecaList, "IdBeca", "NombreBeca"), "Selecciona una Beca", new { @class = "form-control", @id = "ddlBeca" })
                @Html.ValidationMessageFor(model => model.Beca.IdBeca)
            </div>

        </div>

        
        </div>
        <div class="row">
        <div class="col-md-3">

            @Html.LabelFor(model=> model.Fotografia)

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-card-image"></i></span>
                <input id="IFImagen" type='file' class="form-control" name="IFImagen" onchange="validateFile(this), readURL(this);  " />
            </div>

            @if (Model.Fotografia != null)
            {
                <img id="Img" src="data:image/*;base64,@Model.Fotografia" style="width:100% ; height:auto" />
            }
            else
            {
                <img id="Img" src="~/image/sinfoto.jpg" style="width:100% ; height:auto" />
            }
        </div>
        @Html.HiddenFor(model => model.Fotografia)
         <div class="col-md-2">
            @Html.LabelFor(model => model.Sexo)
            <br  />
            Hombre
            @Html.RadioButtonFor(model => model.Sexo, "H")
            Mujer
            @Html.RadioButtonFor(model => model.Sexo, "M")
            @Html.ValidationMessageFor(model => model.Sexo, null, new { @class = "text-danger" })
        </div>

        </div>    
    <div class="form-group">
        <div class="col-md-3">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Regresar", "GetAll", "Alumno", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
}
