@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="=col-md-12">
            <h2>Control de Becas Alumnos: </h2>
        </div>
    </div>
    <hr />

@using (Html.BeginForm("GetAll", "BecaAlumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 <div class="row">
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Beca.IdBeca, new SelectList(Model.Beca.BecaList, "IdBeca", "NombreBeca"), "Alumnos", new { @class = "form-control bg-light text-dark" })
        </div>

        <div class="col-md-1">
            <input type="submit" value="Buscar" class="btn btn-secondary text-light" />
        </div>
  </div>
  <br /> 
}
    
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-responsive">
                <thead class="thead-dark">
                    <tr>                        
                        <td class="text-center" scope="col"> Alumno </td>
                        <td class="text-center" scope="col"> Fotografia </td>
                        <td class="text-center" scope="col"> Sexo </td>
                        <td class="text-center" scope="col"> Beca </td>
                        <td class="text-center" scope="col"> Percepcion Mensual </td>
                        <td class="text-center" scope="col"> Editar Beca Alumno </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Alumno alumno in Model.AlumnoList)
                    {
                        <tr>
                            
                            <td style="text-align: center;">@alumno.Nombre @alumno.ApellidoPat @alumno.ApellidoMat</td>
                            <td style="text-align: center;">
                                @if (alumno.Fotografia != null)
                                {
                                    <img id="Img" src="data:image/*;base64,@(alumno.Fotografia)" style="width:40px ; height:40px;" />
                                }
                                else
                                {
                                    <img id="Img" src="~/image/sinfoto.jpg" style="width:40px ; height:40px" />
                                }
                            </td>
                             <td style="text-align: center;"> 
                                @if(alumno.Sexo == null)
                                {
                                    <h6> Mujer </h6>
                                }
                                else
                                {
                                    <h6> Hombre </h6>
                                }
                            </td>
                            <td style="text-align: center;"> 
                                @alumno.Beca.NombreBeca
                            </td>
                            <td style="text-align: center;"> @alumno.Beca.MontoMensual</td>
                           
                            <td style="text-align: center; vertical-align: middle;"><a class="btn  btn-success  glyphicon" href="@Url.Action("Form", "BecaAlumno", new { IdAlumno = alumno.IdAlumno })"><i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                            
                            
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
 