@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="=col-md-12">
            <h2>Lista de Alumnos: </h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1 center; vertical-align: middle;" ">
            @Html.ActionLink("Agregar", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <td class="text-center" scope="col">Editar</td>
                        <td class="text-center" scope="col">Alumno</td>
                        <td class="text-center" scope="col">Fotografia</td>
                        <td class="text-center" scope="col">Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Alumno alumno in Model.AlumnoList)
                    {
                        <tr>
                            <td style="text-align: center; vertical-align: middle;"><a class="btn  btn-warning  glyphicon" href="@Url.Action("Form", "Alumno", new { IdAlumno = alumno.IdAlumno })"><i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                            <td style="text-align: center;">@alumno.Nombre @alumno.ApellidoPat @alumno.ApellidoMat </td>
                            <td style="text-align: center;">
                                @if (alumno.Fotografia != null)
                                {
                                    <img id="Img" src="data:image/*;base64,@(alumno.Fotografia)" style="width:40px ; height:40px;" />
                                }
                                else
                                {
                                    <img id="Img" src="~/image/sinfoto.jpg" style="width:40px ; height:40px" />
                                }
                            </td>

                            <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon " href="@Url.Action("Delete", "Alumno", new { IdAlumno = alumno.IdAlumno })" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"><i class="bi bi-eraser-fill" style="color: ivory"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
